{% extends "app/base1.html" %}
{% block content %}
		<!-- details section start -->
		<section class="detail">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="box1">
							<h1>From University</h1>
							<table>
								<thead>
									<td>Mirpur</td>
									<td>Dhanmondi</td>
									<td>Uttara</td>
									<td>Tongi</td>
									<td>Narayngang</td>
								</thead>
								<tbody>
									<tr>
										<td>N/A</td>
										<td>7:00AM</td>
										<td>6:00AM</td>
										<td>6:00AM</td>
										<td>6:00AM</td>
									</tr>
									<tr>
										<td>N/A</td>
										<td>8:00AM</td>
										<td>N/A</td>
										<td>N/A</td>
										<td>N/A</td>
									</tr>
									<tr>
										<td>N/A</td>
										<td>10:00AM</td>
										<td>N/A</td>
										<td>N/A</td>
										<td>N/A</td>
									</tr>
									<tr>
										<td>1:45PM</td>
										<td>1:45PM</td>
										<td>1:45PM</td>
										<td>1:45PM</td>
										<td>1:45PM</td>
									</tr>
									<tr>
										<td>4:20PM</td>
										<td>4:20PM</td>
										<td>4:20PM</td>
										<td>4:20PM</td>
										<td>4:20PM</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="box2">
							<h1>To University</h1>
							<table>
								<thead>
									<td>Mirpur</td>
									<td>Dhanmondi</td>
									<td>Uttara</td>
									<td>Tongi</td>
									<td>Narayngang</td>
								</thead>
								<tbody>
									<tr>
										<td>7:00AM</td>
										<td>7:00AM</td>
										<td>7:00AM</td>
										<td>7:00AM</td>
										<td>7:00AM</td>
									</tr>
									<tr>
										<td>8:00AM</td>
										<td>8:00AM</td>
										<td>N/A</td>
										<td>N/A</td>
										<td>N/A</td>
									</tr>
									<tr>
										<td>10:00AM</td>
										<td>10:00AM</td>
										<td>N/A</td>
										<td>N/A</td>
										<td>N/A</td>
									</tr>
									<tr>
										<td>2:45PM</td>
										<td>2:45PM</td>
										<td>3:45PM</td>
										<td>3:45PM</td>
										<td>3:45PM</td>
									</tr>
									<tr>
										<td>6:00PM</td>
										<td>6:00PM</td>
										<td>7:00PM</td>
										<td>7:00PM</td>
										<td>7:00PM</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- details section end -->

		<!-- route section start -->
		<section class="route">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="box3">
							<h1>route wise vehicle details</h1>
						</div>
						<div class="box4">
							<table>
								<thead>
									<td>routs</td>
									<td>Vehicle</td>
								</thead>
								<tbody>
									<tr>
										<td>Mirpur</td>
										<td>m-1,2,3,4</td>
									</tr>
									<tr>
										<td>Dhanmondi</td>
										<td>d-1,2,3,4</td>
									</tr>
									<tr>
										<td>Uttara</td>
										<td>u-1,2,3,4</td>
									</tr>
									<tr>
										<td>Tongi</td>
										<td>t-1,2,3,4</td>
									</tr>
									<tr>
										<td>Narayngang</td>
										<td>n-1,2,3,4</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- route section end -->
{% endblock %}