{% extends "app/base1.html" %}
{% block content %}
		
		<!-- details section start -->
		<section class="details">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h2>Where is the bus? Confused?</h2>
						<p>The company itself is a very successful company. Consequent, and unseemly, is spurned by desire, let the pain follow by rejecting those who are most worthy of us, but let me be softened by the words of the mind, an easy distinction to be repulsed except by law! For the body itself! For the flight seems to be spurred on by others, who, after having been trained, are born to be repulsed by convenience; they abandon the accusers, rather than him, the duties of the present, because he is here. But the elders hate it, are they bound to be the whole expedient? It prevents the most we can reject anyone here for! Are pleasure to be assumed, seeing the pains of the accusers?</p>
					</div>
					<div class="col-lg-6">
						<img src="https://drive.google.com/uc?export=view&id=1jL2oR7epi56TAT0WRRFcnPKL0MGkq3pU" width="300" height="300">	
					</div>
				</div>
			</div>
		</section>
		<!-- details section end -->
		<!-- bus section start -->
		<section class="bus">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="https://drive.google.com/uc?export=view&id=1JCvW9MZLdvFHCzuApRKskbvvtqTWeL6P" width="300" height="300">
					</div>
					<div class="col-lg-6">
						<h2>What is the bus number? No Idea?</h2>
						<p>The company itself is a very successful company. Consequent, and unseemly, is spurned by desire, let the pain follow by rejecting those who are most worthy of us, but let me be softened by the words of the mind, an easy distinction to be repulsed except by law! For the body itself! For the flight seems to be spurred on by others, who, after having been trained, are born to be repulsed by convenience; they abandon the accusers, rather than him, the duties of the present, because he is here. But the elders hate it, are they bound to be the whole expedient? It prevents the most we can reject anyone here for! Are pleasure to be assumed, seeing the pains of the accusers?</p>
					</div>
				</div>
			</div>
		</section>
		<!-- bus section start -->
		
{% endblock %}