{% extends "app/base1.html" %}
{% block content %}

<!-- details section start -->
<section class="detail">
    <div class="container">
        <div class="row">
            <div >
                <div class="box1">
                    <h1>From University</h1>
                    <table>
                        <thead>
                            <td>Mirpur</td>
                            <td>Dhanmondi</td>
                            <td>Uttara</td>
                            <td>Tongi</td>
                            <td>Narayngang</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>N/A</td>
                                <td>7:00AM</td>
                                <td>6:00AM</td>
                                <td>6:00AM</td>
                                <td>6:00AM</td>
                            </tr>
                            <tr>
                                <td>N/A</td>
                                <td>8:00AM</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>N/A</td>
                                <td>10:00AM</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>1:45PM</td>
                                <td>1:45PM</td>
                                <td>1:45PM</td>
                                <td>1:45PM</td>
                                <td>1:45PM</td>
                            </tr>
                            <tr>
                                <td>4:20PM</td>
                                <td>4:20PM</td>
                                <td>4:20PM</td>
                                <td>4:20PM</td>
                                <td>4:20PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
    </div>
</section>
<!-- details section end -->
{% endblock %}